<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="fragments :: head"></head>
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class = "container - xxl">

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${country.name}" class="form-control">
        </label>
        <span th:errors="${country.name}" class="error"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>
