<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<div class = "container - xxl">
<h1>All Users</h1>
<nav th:replace="fragments :: header"></nav>
<!--    <p th:unless = "${events} and ${events.size()}">No events!</p>-->

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Role</th>
    </tr>
    </thead>
    <tr th:each="user : ${users}">
        <td><a th:href="${user.id}" th:text="${user.username}"></a></td>
    </tr>
</table>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
